# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Application secrets
config.json
update-test.json
.env
.env.*
.github/docs

# Build artifacts
build/
dist/
*.spec

# IDE / editor
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#macOS
.DS_Store
